button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    padding: 7px 15px;
}

.btn_main {
    color: #fff;
    background-color: rgb(54, 101, 108);
    border-radius: 5px;
    transition: all .33s ease-in-out;
}

.btn.btn_main:hover {
    background-color: rgb(54, 162, 179);
}

.btn_outline {
    border: #000 1px solid;
    border-radius: 5px;
    transition: all .33s ease-in-out;
}