.btn-login,
.btn-cart {
  padding: 8px 14px;
  background: hwb(4 55% 24% / 0.63);
  border: 2px solid #0e0a30;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #0e0a30;
  backdrop-filter: blur(3px);
}

.btn-login:hover,
.btn-cart:hover {
  background: #0e0a30;
  color: #fff;
}


button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    padding: 7px 15px;
}

.btn_main {
    color: #fff;
    background-color: rgb(54, 101, 108);
    border-radius: 5px;
    transition: all .33s ease-in-out;
}

.btn.btn_main:hover {
    background-color: rgb(54, 162, 179);
}

.btn_outline {
    border: #000 1px solid;
    border-radius: 5px;
    transition: all .33s ease-in-out;
}