@import url(./reset.css);
@import url(./button.css);
@import url(./new_cards.css);



header {
    align-items: flex-start;
    
    position: relative;
    top: 0;
    display: flex;
    padding: 10px 5px;
    background-image: url(./image/фон-2.jpg);
    background-size: cover;
    background-position: center;
    height: 400px; /* высота шапки */
  color: #0e0a30; /* цвет текста */
  display: flex; /* чтобы LOGO и меню выровнять */
  /* align-items: center; выровнять по вертикали */
  justify-content: space-between; /* LOGO слева, меню справа */
  padding: 0 40px; /* отступы по бокам */
  font-size: 20px;
}
.header__nav ul {
  display: flex;
  gap: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.header__nav ul:hover {
    color: #ff3b3b; /* любой цвет при наведении */
    opacity: 0.6;
}
.header__actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

body {
    background-color: bisque;
}
    a {
        color: #0e0a30;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color: #c72525;
}
main {
    padding-top: 50px;
    height: 220vh;
}
