button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


.btn
{
    padding: 7px 15px;
    
}

.btn.btn_main
{
    color: white;
    background-color: #00c8ff;
    border-radius: 5px;
    transition: all .33s ease-in-out;
}
.btn.btn_main:hover
{
    background-color: #6ec8df;
}

.btn.btn_outline
{
    border: #000 1px solid;
    border-radius: 5px;
    transition: all .33s ease-in-out;
}