@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
margin: 0;
font-family: 'Roboto', sans-serif;
background-color: #1c1c1c;
color: white;
}
a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

img {
    max-width: 100%;
}
.container {
    box-sizing: border-box;

    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;

width: 165px;
height: 50px;

font-weight: 500;
font-size: 16px;

background: #f6762c;
border-radius: 5px;

transition: opacity 0.3s;

}

.btn:hover {
    opacity: 0.8;
}

.btn--small {

    width: 140px;
    height: 40px;
    font-size: 12px;    
}



.header {
 padding: 25px 0;
 
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.header__logo {

}

.header__nav {

}

.header__list {
display: flex;
gap: 30px;

}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;

    transition: opacity 0.3s;

}

.header__nav a:hover {
    opacity: 1;

}

.header__nav a.active
{
    opacity: 1;
}

.Welcome {
    box-sizing: border-box;
    min-height: 100vh;

margin-top: -100px;
padding: 200px 0;

background-image: url("./images/welcome-bg.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.welcome__text {
   width: 550px;

}

.welcome__subtitle {
    margin-bottom: 7px;
    
    font-size: 14px;
    letter-spacing: 0.1em;
    
}

.welcome__title {
    font-size: 58px;
}

.welcome__desc {
    margin: 40px 0;
    font-size: 16px;
    opacity: 0.7;
}


.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    width: 260px;
    overflow: hidden;
    text-align: center;
    background: #312f30;
    border-radius: 10px;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__text-wrapper {
    padding: 30px 20px;

}

.food-list__title {
    font-size: 20px;
    margin-bottom: 15px;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}

.order {
    background: #312F30;
    padding: 60px 0;

}

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-right: 90px;
}

.order__img {
    max-width: 470px;
}

.order__text {
    max-width: 360px;
}

.order__title {
    margin-bottom: 25px;
    font-size: 44px;
}

.order__desc {
    margin-bottom: 15px;
    opacity: 0.7;
}

.order__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color:  #F6762C;
}

.order__old-price {
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    color:  #F6762C;
    opacity: 0.5;
}

.order__price + .order__price {
    margin-left: 2px   ;

}

.order .btn {
    margin-top: 10px;
}


.product {

}

.container {

}

.product__card {

}

.product__title {
    margin-bottom: 20px;
    font-size: 30px;
    
   
}

.product__desc {
    margin-bottom: 10px;
    opacity: 0.7;
}

.product__price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color:  #F6762C;
}

.product__old-price {
    text-decoration: line-through;
    color:  #F6762C;
    opacity: 0.5;
}

