h1 {
    text-align: center;
}  

.Pervoe {
    color: brown;
}

.Vtoroe {
    color: blue;
}

.Tretie {
    color: green;
}

.img block {
    width: 200px;
    height: 1000%;
    overflow: hidden;
    margin: 50px 0;
}

.jpg {
    width: 100%;
    height: 100%;
 
}
.btn{
    border: 0;
    outline: 0;
    color: white;
    background-color: rgba(255, 0, 200, 0.733);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: border-radius .2s;
}

    .btn:hover {
        border-radius: 10px;
        background-color: rgb(0, 187, 255);
    }

    .btn:active {
        background-color: black;
    }

    .btn2
    {border: 0;
    outline: 0;
    color: white;
    background-color: rgba(255, 0, 200, 0.733);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: border-radius .2s;}

        .btn2:hover {
            border-radius: 10px;
            background-color: rgb(0, 187, 255);
        }

        .btn2:active {
            background-color: black;
        }