
.test__p > .bg-black {
  background-color: blue;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}


.test__p ~ .bg-black {
  background-color: purple;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}


.img.block {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.img.block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

button.bg-black {
  border: none;
  padding: 10px 20px;
  margin: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  background-color: #6a0dad;
  transition: background-color 0.2s;
}


button.bg-black:active {
  background-color: #28a745;
}

button.bg-black:focus {
  background-color: #28a745;
  outline: none;
}



